<div class="box">
  <article class="media">
    <div class="media-content">
      <div class="content">
        <p>
          <strong><%= comment.user.username.capitalize %> : </strong>
          <%= comment.content %>
        </p>
      </div>
    </div>

    <div class="buttons are-small">
      <% if user_signed_in? && comment.user_id == current_user.id %>
      <%= link_to fa_icon("bomb", text:"Supprimer", class:"text-muted pull-left"), [comment.post, comment], method: :delete, class: "button is-danger", data: {confirm: "Sûr ?" } %>
      <% else %>

      <% end %>

      <%= fa_icon "history", text: "#{comment.created_at.strftime("Posté le %d/%m/%Y")}",class: "text-muted pull-left" %>

    </div>
  </article>
</div>
