<%= form_for([@post, @post.comments.build]) do |f| %>
  <div class="field">
    <div class="control">
      <%= f.label :comment, "Un avis ?" %>
      <%= f.text_area :content, class: "textarea" %>
    </div>
  </div>
  <%= f.submit "Publier", class:"button is-primary" %>
<% end %>
