<% if user_signed_in? %>


  <%= render "homepages/connectedindex" %>

<% else %>

  <section id="kyodai-landing"class="hero is-fullheight">
    <!-- Hero content: will be in the middle -->
    <div class="hero-body">
      <div class="container has-text-centered">
        <figure class="avatar">
          <%= image_tag("favicon.png", height: '100', width: '100')%>
        </figure>

        <h1 class="title has-text-white">
          KYÔDAÏ
        </h1>

        <h2 class="subtitle has-text-white">
          Bienvenus<br>
          Venez découvrir ou partager des musiques et articles !
        </h2>

          <%= link_to fa_icon("connectdevelop", text:"Connexion", class:"text-muted pull-left"), new_user_session_path, class: 'button is-rounded is-light is-medium' %>
          <%= link_to fa_icon("user-plus", text:"Inscription", class:"text-muted pull-left"), new_user_registration_path, class: 'button is-rounded is-primary is-medium' %>

      </div>
    </div>

    <div class="hero-foot">
      <div class="mouse-container">
        <a class="js-scrollTo" href="#page-2">
          <span class="mouse-outer">
            <span class="mouse-wheel"></span>
          </span>
        </a>
      </div>
    </div>

  </section>

  <section id="page-2" class="hero is-fullheight">
  </section>

<% end %>
