<!-- Display Loading Page -->
<div class="se-pre-con"></div>

<section class="hero is-dark is-fullheight is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title has-text-centered">
        <%= fa_icon "wrench x9"%>
        Site en construction
      </h1>
      <progress class="progress is-success" value="5" max="100">5%</progress>
      <h2 class="subtitle has-text-centered">
        Revenez plus tard !
      </h2>
    </div>
  </div>
</section>
