<section class="hero is-primary is-bold">
  <div class="hero-body">
    <h1 class="title has-text-centered"><%= @article.title.html_safe %></h1>
      <div class="section">
        <%=@article.body.html_safe%>
      </div>

      <% if user_signed_in? && @article.user_id == current_user.id %>
        <%= link_to "Editer", edit_article_path(@article), class:"button" %>

        <%= link_to "Supprimer", article_path(@article), method: :delete, data: { confirm: "Are you sure ?"}, class:"button is-danger" %>
      <% end %>

    </div>
  </div>
</section>
