
#articles-banner-index {
  background: linear-gradient(to top, rgba(255, 255, 255, 0.068) 20%,
              rgb(255, 255, 255)), image-url('books.jpg');
  background-position: center;
  background-size: cover;
}

.tile-footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
