.navbar-brand {
  margin-left: 10rem;
}

.navbar-end {
  margin-right: 10rem;
}

.navbar-burger {
  margin: 5%;
}

.navbar-item.fucking-list:hover {
  text-decoration: underline hsl(171, 100%, 41%);
}

a.navbar-item:hover {
  color: hsl(171, 100%, 41%) !important;
  font-size: 18px;
}
